# Generate AUTHORS: scripts/generate-authors.sh

# Tip for finding duplicates (besides scanning the output of AUTHORS for name
# duplicates that aren't also email duplicates): scan the output of:
#   git log --format='%aE - %aN' | sort -uf
#
# For explanation on this file format: man git-shortlog

Justin Cormack <justin.cormack@docker.com> <justin@specialbusservice.com>
Magnus Skjegstad <magnus.skjegstad@docker.com> <magnus@skjegstad.com>
Rolf Neugebauer <rolf.neugebauer@docker.com> <rn@users.noreply.github.com>
Rolf Neugebauer <rolf.neugebauer@docker.com> <rneugeba@users.noreply.github.com>
Rolf Neugebauer <rolf.neugebauer@docker.com> <rolf.neugebauer@gmail.com>
