*.exe
*.obj
*.sdf
*.vcxproj.user
/.vs
/x64
/Debug
/build

/hvbench
hvbench.*.db
hvbench.*.opendb
hbench.vcxproj.filters

/hvecho
hvecho.*.db
hvecho.*.opendb
hvecho.vcxproj.filters

/hvstress
hvstress.*.db
hvstress.*.opendb
hvstress.vcxproj.filters
